.ResetPasswordChoose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 0;
}

.Content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (width <= 425px) {
        gap: 16px;
    }
}