.RegistrationPreviewImage {
    flex: 1 0 0;

    @media (width <= 1200px) {
        width: 400px;
    }

    @media (width <= 800px) {
        display: none;
    }
}

.ViewportHeight {
    height: 100vh;
}
