.ResetPasswordPhone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 0;
    height: 100vh;
}

.Content {
    width: 370px;
    margin-left: auto;
    margin-right: auto;

    @media (width <= 400px) {
        width: 340px;
    }

    @media (width <= 340px) {
        width: 300px;
    }
}