
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Inter, sans-serif;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.hide-arrows {
    -moz-appearance: textfield; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
